.formulaire{
    margin-top:5rem;
}
.forms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.success{
    width: 20rem;
    margin-left: 55rem;
}
.error{
    width: 20rem;
    margin-left: 55rem;
}