.cardsAccount{
    border:  1px solid white;
    box-shadow:  0 0 10px rgba(0,0,0,0.5);
    height: 10rem;
    margin-top: 5rem;
    width: 30rem;
    margin-left: 2rem;
    display: block;
    font-family: "Cicular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol";
 }