.card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 70rem;
    margin-left: 12rem;
    width: 80vw;
}
.name{
    white-space: pre-wrap;
    word-break: break-word;
}
.img{
    margin-top:2rem;
}