$text-white : white;
div.link {
    color:$text-white;
   align-self: center;
}
.proposition{
    margin-top:25rem;
}
div.activity{
    display: flex;
    flex-direction: row;
    margin-top: 10rem;
    justify-content: space-between;
}
.global-proposition{
    margin-left: 1rem;
}