img{
    border-radius: 5px;
}
p{
  
    color:white;
    font-weight: 700;
    font-size: 18px;
}
.card{
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    height: 50vh;
}
.more{
    background: linear-gradient(red,orange);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
 
   border: none;
   
   height: 50px;
font-weight: 500;
}

.button{
   
  align-self: center;
  background:white;
  border-radius: 20px;
  font-size: 18px;
  width: 10rem;
  height: 2rem;
 
}
.content{
   position: absolute;
   top:20rem;
   margin-left:45%;
    
   
}